@use "sass:map";
@use "../abstracts" as *;

.calculator {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: px-to-rem(50);

  @include respond(lg) {
    gap: px-to-rem(94);
    grid-template-columns: px-to-rem(482) 1fr;
  }
}

.calculator__title {
  display: flex;
  align-items: center;
  gap: px-to-rem(4);
  margin-bottom: px-to-rem(32);
}

.calculator__tooltip {}

.calculator__cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(10);
  padding: px-to-rem(16) 0;
  border-bottom: px-to-rem(1) solid get-color($strokes, primary);
  border-top: px-to-rem(1) solid get-color($strokes, primary);
  margin: px-to-rem(16) 0;
}

.calculator__subtitle {}

.calculator__span {
  color: get-color($text-colors, gray);
  align-items: center;
  display: flex;
  gap: px-to-rem(4);
  @include font-style(subtitleLarge);
}

.calculator__card-checkbox {
  margin-top: px-to-rem(8);
}

.calculator__range {
  margin-top: px-to-rem(20);
}

.calculator__estimate {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: px-to-rem(20);
  border-radius: radius(lg-s);
  background: get-color($backgrounds, dark);
  position: relative;
  margin: 0 px-to-rem(-10);

  @include respond(md) {
    border-radius: radius(lg-l);
    padding: px-to-rem(32);
    margin: 0;
  }

  &:before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px);
    border: px-to-rem(1) solid get-color($strokes, light);
    border-radius: radius(lg-l);
    content: "";
    position: absolute;
    inset: px-to-rem(-10);
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    inset: px-to-rem(-80);
    z-index: -2;
    background: url('/assets/images/calculator-estimate-background.webp') no-repeat center;

    @include respond(md) {
      background-size: 94%;
      inset: px-to-rem(-170);
    }

    @include respond(lg) {
      background-size: contain;
    }
  }
}

.calculator__estimate-subtitle {
  margin-bottom: px-to-rem(20);
  text-align: center;
}

.calculator__estimate-title {
  font-weight: 600;
  font-size: px-to-rem(52);
  line-height: px-to-rem(60);
  text-align: center;
}

.calculator__estimate-span {
  text-align: center;
  color: get-color($text-colors, gray);
  @include font-style(subtitleLarge);
}

.calculator__estimate-info {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(6);
  padding-top: px-to-rem(20);
  border-top: px-to-rem(1) solid rgba(217, 217, 217, 0.12);
  margin-top: px-to-rem(20);
  margin-bottom: px-to-rem(36);
  width: 100%;
}

.calculator__estimate-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__estimate-col {
  &:first-child {
    color: get-color($text-colors, gray);
    @include font-style(subtitleLarge);
  }

  &:last-child {
    font-weight: 600;
    text-align: right;
    @include font-style(subtitleLarge);
  }
}

.calculator__estimate-description {
  margin-top: px-to-rem(7);
  text-align: center;
  @include font-style(subtitle);
}

.calculator__estimate-btn-wrapper {
  max-width: px-to-rem(444);
  width: 100%;
  z-index: 1;
}

.calculator__estimate-btn {
  width: 100%;
  min-width: initial;
}

.calculator__estimate-banner {
  background: linear-gradient(180deg, #221B38 0%, #08080B 100%);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(sm-l);
  padding: px-to-rem(16);
  display: flex;
  flex-direction: column;
  margin-bottom: px-to-rem(44);
}

.calculator__estimate-banner-title {
  font-weight: 500;
  @include font-style(subtitleLarge);
}

.calculator__estimate-banner-subtitle {
  color: get-color($text-colors, gray);
  @include font-style(subtitle);
}