@use "sass:map";
@use "../abstracts" as *;

.calculator {
  align-items: center;
  display: grid;
  grid-template-columns: 45% 55%;
  gap: px-to-rem(94);
  display: none;
}

.calculator__title {
  display: flex;
  align-items: center;
  gap: px-to-rem(4);
  margin-bottom: px-to-rem(32);
}

.calculator__tooltip {}

.calculator__cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(18);
  padding: px-to-rem(16) 0;
  border-bottom: px-to-rem(1) solid get-color($strokes, primary);
  border-top: px-to-rem(1) solid get-color($strokes, primary);
  margin: px-to-rem(16) 0;
}

.calculator__subtitle {}

.calculator__span {
  color: get-color($text-colors, gray);
  align-items: center;
  display: flex;
  gap: px-to-rem(4);
  @include font-style(subtitleLarge);
}

.calculator__card-checkbox {
  margin-top: px-to-rem(8);
}

.calculator__range {
  margin-top: px-to-rem(20);
}

.calculator__estimate {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: px-to-rem(32);
  border-radius: 40px;
  background: #000000;
  position: relative;

  &:before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    content: "";
    position: absolute;
    inset: px-to-rem(-10);
    z-index: -1;
  }
}

.calculator__estimate-subtitle {
  margin-bottom: px-to-rem(20);
  text-align: center;
}

.calculator__estimate-title {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
}

.calculator__estimate-span {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #909296;
}

.calculator__estimate-info {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(6);
  padding-top: px-to-rem(20);
  border-top: px-to-rem(1) solid rgba(217, 217, 217, 0.12);
  margin-top: px-to-rem(20);
  margin-bottom: px-to-rem(36);
  width: 100%;
}

.calculator__estimate-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__estimate-col {
  &:first-child {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #909296;
  }

  &:last-child {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;

    color: #FFFFFF;
  }
}

.calculator__estimate-description {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.calculator__estimate-btn {
  max-width: px-to-rem(444);
  width: 100%;
  z-index: 1;
}