@use "sass:map";
@use "../abstracts" as *;

.features {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(32);

  @include respond(md) {
    flex-direction: row;
    gap: px-to-rem(40);
  }
}

.features__item {
  align-items: center;
  display: flex;
  gap: px-to-rem(16);
  flex: 1;
 }