@use "sass:map";
@use "../abstracts" as *;

.header {
  background: get-color($backgrounds, primary);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: px-to-rem(24);
  padding: px-to-rem(20);
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 10;

  @include respond(lg) {
    background: get-color($surfaces, secondary);
    border: px-to-rem(1) solid get-color($strokes, secondary);
    border-radius: radius(xl);
    gap: px-to-rem(60);
    max-width: px-to-rem(944);
    padding: px-to-rem(11) px-to-rem(11) px-to-rem(11) px-to-rem(31);
    top: px-to-rem(30);
  }

  .header__burger {
    @include respond(lg) {
      display: none;
    }
  }
}

.header--mob-menu-active {
  &:before {
    background: url('/assets/images/mob-menu-gradient.webp') no-repeat center / cover;
    content: '';
    position: absolute;
    inset: 0;
    height: 100dvh;
    z-index: 1;

    @include respond(lg) {
      content: none;
    }
  }

  .header__controls {
    display: flex;
    position: fixed;
    inset: px-to-rem(90) 0 0 0;
    height: calc(100dvh - 90px);

    @include respond(lg) {
      position: initial;
      height: initial;
      inset: initial;
    }
  }
}

.header__logo {
  z-index: 1;
}

.header__controls {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: px-to-rem(60);
  flex: 1;
  padding: px-to-rem(20);
  z-index: 1;

  @include respond(md) {
    padding: px-to-rem(60) px-to-rem(24);
  }

  @include respond(lg) {
    gap: px-to-rem(24);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
}

.header__nav {
  display: flex;
  margin: auto 0;

  @include respond(lg) {
    flex: 1;
    margin: 0;
  }
}

.header__actions {
  display: flex;
  flex-direction: column-reverse;
  gap: px-to-rem(12);
  max-width: px-to-rem(320);
  width: 100%;

  @include respond(lg) {
    align-items: center;
    flex-direction: row;
    gap: px-to-rem(8);
    width: initial;
  }
}

.header__burger {
  z-index: 1;
}

.header__login-action {
  padding-left: px-to-rem(29);
  padding-right: px-to-rem(29);
}
