@use "sass:map";
@use "../abstracts" as *;

.hero {
  background: url('/assets/images/hero-background.svg') no-repeat bottom / 150%;
  padding-top: px-to-rem(20);
  position: relative;
  overflow: hidden;

  @include respond(md) {
    background-size: 165%;
    background-position: bottom;
    padding-top: px-to-rem(112);
  }

  @include respond(lg) {
    background-position: center;
    background-size: cover;
    padding-top: px-to-rem(138);
  }

  &:before {
    background: get-color($surface-gradients, dark-to-transparent);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: px-to-rem(64);
    z-index: 1;

    @include respond(md) {
      height: px-to-rem(155);
    }

    @include respond(lg) {
      height: px-to-rem(227);
    }
  }
}

.hero__container {
  align-items: center;
  gap: px-to-rem(42);

  @include respond(md) {
    gap: px-to-rem(55);
  }

  @include respond(lg) {
    gap: px-to-rem(50);
  }
}

.hero__info {
  max-width: px-to-rem(944);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(40);
}

.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
  text-align: center;
  align-items: center;
}

.hero__title {
  @include respond(md) {
    padding: 0 px-to-rem(18);
  }

  @include respond(lg) {
    padding: 0;
  }
}

.hero__description {
  max-width: px-to-rem(752);
}

.hero__picture {
  margin-bottom: px-to-rem(-32);

  @include respond(md) {
    margin-bottom: px-to-rem(-53);
  }

  @include respond(lg) {
    margin-bottom: px-to-rem(-111);
  }
}

.hero__picture-image {
  border: px-to-rem(6) solid get-color($strokes, light);
  border-radius: radius(sm);
  object-fit: contain;
  height: 100%;
  width: 100%;

  @include respond(lg) {
    border: px-to-rem(10) solid get-color($strokes, light);
    border-radius: radius(lg);
  }
}

.hero__action-wrapper {
  align-items: center;
  position: relative;
  justify-content: center;
  display: flex;
}

.hero__action {
  position: absolute;
  top: px-to-rem(75);
  z-index: 1;

  @include respond(md) {
    top: initial;
  }
}