@use "sass:map";
@use "../abstracts" as *;

.icon-box {
  background: get-color($surface-gradients, dark);
  border-radius: radius(xl);
  box-shadow: 0 px-to-rem(20) px-to-rem(40) 0 get-color($backgrounds, dark-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  height: px-to-rem(44);
  min-width: px-to-rem(44);
  width: px-to-rem(44);
  position: relative;

  @include respond(md) {
    height: px-to-rem(50);
    min-width: px-to-rem(50);
    width: px-to-rem(50);
  }

  &:before {
    content: "";
    position: absolute;
    height: px-to-rem(16);
    width: px-to-rem(16);
  }
}

.icon-box--check {
  &:before {
    background: url('/assets/icons/check.svg') no-repeat center / contain;
  }
}