@use "sass:map";
@use "../abstracts" as *;

.poll {
  padding: px-to-rem(80) 0;
  position: relative;

  @include respond(lg) {
    margin: px-to-rem(10);
    padding: px-to-rem(66) 0 px-to-rem(103);
  }

  &:before {
    background: url('/assets/images/poll-background.webp') no-repeat bottom / 600%;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.6;
    z-index: -3;

    @include respond(md) {
      background-size: 320%;
      background-position: bottom;
    }

    @include respond(lg) {
      background-position: center;
      background-size: cover;
      border: px-to-rem(1) solid get-color($strokes, primary);
      border-radius: radius(lg-l);
      opacity: 1;
    }
  }
}

.poll_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(60);
}

.poll__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(10);
  max-width: px-to-rem(650);
  text-align: center;
}

.poll__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: px-to-rem(16);
  max-width: px-to-rem(560);
  width: 100%;

  @include respond(lg) {
    grid-template-columns: 1fr 1fr;
    max-width: initial;
  }
}

.poll__card {
  background: get-color($surfaces, secondary);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(lg-s);
  padding: px-to-rem(30);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(24);
}