@use "sass:map";
@use "../abstracts" as *;

.possibilities {
  padding: px-to-rem(80) 0;
  position: relative;

  @include respond(lg) {
    margin: px-to-rem(10);
    padding: px-to-rem(104) 0;
  }

  &:before {
    background: url('/assets/images/possibilities-background.webp') no-repeat top / 320%;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.6;
    z-index: -3;

    @include respond(md) {
      background-size: 160%;
      background-position: top;
    }

    @include respond(lg) {
      background-position: center;
      background-size: cover;
      border: px-to-rem(1) solid get-color($strokes, primary);
      border-radius: radius(lg-l);
      opacity: 1;
    }
  }
}

.possibilities__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: px-to-rem(60);
}

.possibilities__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(10);
}

.possibilities__badge {
  color: get-color($text-colors, primary);
  letter-spacing: -0.01em;
}

.possibilities__description {
  margin-top: px-to-rem(10);
}

.possibilities__carousel {
  width: 100%;

  .possibilities__carousel-pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    gap: px-to-rem(16);
    text-align: center;

    .swiper-pagination-bullet {
      background: get-color($surfaces, primary);
      opacity: 0.2;
      transition: 0.3s;

      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

.possibilities__carousel-slider {
  @include respond(md) {
    pointer-events: none;
  }

  .swiper-wrapper {
    @include respond(md) {
      display: grid;
      grid-template-columns: 1fr;
      gap: px-to-rem(16);
      justify-items: center;
    }

    @include respond(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.possibilities__carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px-to-rem(8);
  margin-top: px-to-rem(32);

  @include respond(md) {
    display: none;
  }
}

.possibilities__carousel-button {
  background: get-color($surfaces, secondary);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(lg);
  cursor: pointer;
  height: px-to-rem(48);
  width: px-to-rem(48);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s;

  &:hover {
    background: get-color($surface-gradients, dark);
  }

  &:last-child {
    .possibilities__carousel-button-icon {
      transform: rotate(-180deg);
    }
  }

  &.swiper-button-disabled {
    opacity: 0.4;
  }
}

.possibilities__carousel-button-icon {
  height: px-to-rem(16);
  width: px-to-rem(16);
}

.possibilities__card {
  background: get-color($surfaces, secondary);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(lg-s);
  display: flex;
  flex-direction: column;
  padding: px-to-rem(24) px-to-rem(20);
  height: initial;

  @include respond(md) {
    max-width: px-to-rem(560);
    margin: 0 !important;
    width: 100% !important;
    padding: px-to-rem(50) px-to-rem(30) px-to-rem(30);
  }

  @include respond(lg) {
    max-width: initial;
  }
}

.possibilities__card-description {
  margin-bottom: px-to-rem(24);
  margin-top: px-to-rem(8);
  opacity: 0.6;
  flex: 1;
}

.possibilities__card-tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px-to-rem(35);

  @include respond(md) {
    gap: px-to-rem(28);
    flex-direction: column;
  }
}

.possibilities__card-tree-title {
  text-transform: uppercase;
}

.possibilities__card-tree {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  gap: px-to-rem(51);
  position: relative;

  @include respond(md) {
    gap: px-to-rem(8);
    grid-template-columns: repeat(3, 1fr);
  }

  &:before {
    @include respond(md) {
      background: url('/assets/icons/tree.svg') no-repeat center / contain;
      content: '';
      position: absolute;
      top: px-to-rem(-32);
      left: px-to-rem(83);
      right: px-to-rem(83);
      z-index: -1;
      height: px-to-rem(36);
    }
  }

  &:after {
    background: url('/assets/icons/tree-mobile.svg') no-repeat center / contain;
    content: '';
    position: absolute;
    width: px-to-rem(36);
    z-index: -1;
    top: 0;
    bottom: 0;
    left: px-to-rem(-34);

    @include respond(md) {
      content: none;
    }
  }
}

.possibilities__card-tree-item {
  background: get-color($surface-gradients, dark);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(xs);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: px-to-rem(10);
  padding: px-to-rem(16) px-to-rem(10);
}

.possibilities__card-icon {
  height: px-to-rem(28);
  width: px-to-rem(28);
}