@use "sass:map";
@use "../abstracts" as *;

.tabs {
  display: flex;
  gap: px-to-rem(16);
  justify-content: center;
  max-width: px-to-rem(360);
  width: 100%;

  @include respond(md) {
    gap: px-to-rem(24);
    max-width: initial;
  }
}

.tabs__btn {
  background: radial-gradient(11.76% 31.15% at 4.21% 92.13%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(15.92% 19.57% at 153.34% 90.16%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(9.86% 21.2% at 154.07% 7.87%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(7.47% 22.77% at 4.03% 9.06%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(201.84deg, rgba(255, 255, 255, 0.08) 5.36%, rgba(255, 255, 255, 0) 64.68%), linear-gradient(7.43deg, rgba(0, 0, 0, 0.12) 8.3%, rgba(0, 0, 0, 0) 19.83%), #18151C;
  border-radius: radius(xs);
  color: get-color($text-colors, primary);
  padding: px-to-rem(22) px-to-rem(10);
  position: relative;
  width: 100%;

  @include respond(md) {
    padding: px-to-rem(22) px-to-rem(32);
    width: initial;
  }

  &:before {
    content: '';
    position: absolute;
    background: radial-gradient(113.45% 100% at 81.34% 0%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), #121115;
    border-radius: px-to-rem(6);
    border: px-to-rem(1) solid get-color($strokes, primary);
    inset: px-to-rem(6);
    z-index: 1;
    box-shadow: 0 px-to-rem(2.52) px-to-rem(34.02) 0 #00000040 inset;
  }

  &:after {
    content: '';
    background: url('/assets/images/tab-gradient.png') no-repeat center / auto;
    border-radius: radius(sm-l);
    inset: px-to-rem(-4);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }
}

.tabs__btn:hover,
.tabs__btn--active {
  &:before {
    background: radial-gradient(287.34% 253.27% at 81.34% 0%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), #27252D;
    opacity: 0.66;
    box-shadow: inset 0 2.51969px 34.0157px rgba(0, 0, 0, 0.25);
  }

  &:after {
    opacity: 1;
  }
}

.tabs__btn-name {
  text-shadow: 0 0 px-to-rem(4) rgba(255, 255, 255, 0.4), 0 px-to-rem(3) px-to-rem(3) rgba(0, 0, 0, 0.25);
  font-weight: 500;
  position: relative;
  z-index: 2;
  @include font-style(actionSmall);
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}