@use "sass:map";
@use "../abstracts" as *;

.testimonials {
  padding: px-to-rem(80) 0 px-to-rem(46) 0;
  position: relative;
  overflow: hidden;

  @include respond(md) {
    padding: px-to-rem(80) 0;
  }

  @include respond(lg) {
    margin: px-to-rem(10);
    padding: px-to-rem(121) 0 px-to-rem(108);
  }

  &:before {
    background: url('/assets/images/testimonials_background.webp') no-repeat bottom / 320%;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.6;
    z-index: -3;

    @include respond(md) {
      background-size: 160%;
      background-position: bottom;
    }

    @include respond(lg) {
      background-position: center;
      background-size: cover;
      border: px-to-rem(1) solid get-color($strokes, primary);
      border-radius: radius(lg-l);
      opacity: 1;
    }
  }
}

.testimonials__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(40);
  justify-content: center;

  @include respond(lg) {
    gap: px-to-rem(60);
  }
}

.testimonials__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(10);
  text-align: center;
  padding: 0 px-to-rem(30);

  @include respond(md) {
    padding: 0;
  }
}

.testimonials__badge {
  letter-spacing: 0;
}

.testimonials__carousel {
  width: 100%;

  .testimonials__carousel-pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    gap: px-to-rem(16);
    text-align: center;

    .swiper-pagination-bullet {
      background: get-color($surfaces, primary);
      opacity: 0.2;
      transition: 0.3s;

      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

.testimonials__carousel-slider {
  margin-bottom: px-to-rem(30);

  @include respond(md) {
    padding: 0 px-to-rem(72);
    overflow: initial;
  }

  @include respond(lg) {
    padding: 0;
    overflow: hidden;
  }
}

.testimonials__carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.testimonials__carousel-button {
  background: get-color($surfaces, secondary);
  border-radius: radius(lg);
  cursor: pointer;
  height: px-to-rem(48);
  width: px-to-rem(48);
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s;

  &:hover {
    background: get-color($surface-gradients, dark);
  }

  &:last-child {
    .testimonials__carousel-button-icon {
      transform: rotate(-180deg);
    }
  }

  &.swiper-button-disabled {
    opacity: 0.4;
  }
}

.testimonials__carousel-button-icon {
  height: px-to-rem(16);
  width: px-to-rem(16);
}

.testimonials__carousel-slide {
  display: grid;
  grid-template-columns: 1fr;
  gap: px-to-rem(16);

  @include respond(md) {
    background: get-color($surfaces, secondary);
    border: px-to-rem(1) solid get-color($strokes, primary);
    border-radius: radius(sm-l);
    padding: px-to-rem(30);
    gap: px-to-rem(28);
  }

  @include respond(lg) {
    background: transparent;
    border: none;
    border-radius: 0;
    grid-template-columns: px-to-rem(320) 1fr;
    padding: 0;
    gap: px-to-rem(16);
  }
}

.testimonials__carousel-slide-info {
  background: get-color($surfaces, secondary);
  border: px-to-rem(1) solid get-color($strokes, primary);
  border-radius: radius(sm-l);
  padding: px-to-rem(25) px-to-rem(24);

  @include respond(md) {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  @include respond(lg) {
    background: get-color($surfaces, secondary);
    border: px-to-rem(1) solid get-color($strokes, primary);
    border-radius: radius(sm-l);
    padding: px-to-rem(30);
  }
}

.testimonials__carousel-slide-title {
  margin-bottom: px-to-rem(28);
}

.testimonials__carousel-person-card {
  height: px-to-rem(360);

  @include respond(lg) {
    height: 100%;
  }
}